@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Poppins:wght@500;800&display=swap');
:root{
    --clr-black: #000;
    --clr-white: #fff;
    --clr-orange: #e84949;
    --clr-light-gray: #E7E7E7;
    --clr-blue: #4e45d5;
    --clr-dark-blue: #343d68;
}
*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.wrapper{ /* just defined by ourselves */
   height: 100vh;
   width: 100%;
   overflow-x: hidden;
   overflow-y: auto;
}

.container{
/* default value of height is auto.   */
 max-width: 1200px;
 margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between; /*to bring flex items at extreme position horizontally*/
    align-items: center; /* to bring flex items centered vertically in navigation bar */

    padding-top: 1rem;
}
.navbar-logo{
    display: flex;
    align-items: center;
    /* border: 2px solid blue; */
    cursor: pointer;
}
.logo-text{
    font-size: 28px;
    /* border: 2px solid green; */
    margin-left: -0.5rem;
    font-weight: bolder;
    align-self: flex-end;
    margin-bottom: 16px;
}

.logo-img img{
  width: 80px;
}
.navbar-links{
    display: flex;
    gap: 2rem;
    padding:0 4em;
}
.navbar-links{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 1rem;
}
.navbar-links a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    transition: font-weight 0.34s;
}
.touch-effect:hover{
    font-weight: bold;
}


/* Making the first-section part of the web page as a flexbox so that we can easily align it's child elements*/
.first-sec{
    position: relative;
    display: flex;
    justify-content: center; /*To bring left and right parts horizontally center*/
    align-items: center;/*To bring left and right parts vertically center*/

    /*below values are provided by designer*/
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}
/*Properties for the faded user name*/
.faded-text{
    user-select:none; /*To make this text un-selectable*/
    
    position: absolute; /*As we want to change it's positiong w.r.t containg element*/
    
    /* because of the absolute position, this element will be placed 16% down from  bottom and 5% right from the left side of container */
    bottom: -16%;
    left: 5%;

    /*below values are provided by designer*/
    font-size:7em;
    color: rgb(231, 231, 231);
    font-weight: bold;
}

/* Properties for the left part of the first-section */
.first-left{
    display: flex;
    flex-direction: column; /*To align it's child elements vertically in it*/
    justify-content: center;
    gap: 2rem;
}
.first-left-head{
    font-size:35px;
    color: #343d68;
    font-weight: 500;
}
.first-left-subhead{
    font-size: 45px;
    line-height: 45px;
}

.first-left-description{
    margin-top:1rem;
    width: 70%;
    font-weight: 500;
}



/* properties for running text */
.role{
    /* below values are given by disigner */
    color: #4e45d5;
    font-weight: 800;
}

.modern-button{
    width: fit-content;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--clr-white);
    background-color: var(--clr-orange);
    border: solid 3px transparent;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s;
    position: relative;
}

.modern-button::before{
    content: "";
    position: absolute;
    background-color: var(--clr-white);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.modern-button:hover {
    color: var(--clr-black);
}

.modern-button:hover::before{
    transform: scaleX(100%);
}

/* properties for Right part of First section */
.first-right{
    position: relative; /*We want images to overlap so, that images shouls be absolte positioned and it's nearest parent element i.e it's nearest container should be non-static positioned*/
}
.absolute{   
    position: absolute;
/* bcz of absolute position all decorating style images will overlap on the user image */
}

.user-image{
    padding: 2.5rem; /*for the frame of the user-image*/
    filter: grayscale(1);
    transition: all 1s;
    /* cerating animation for the user-image */
    animation: scaleImage 5s linear infinite;

}
.user-image img{
    z-index: -1;
    width: 20rem; 
    /*due to this user-image will be at background and other decorating images will be over it*/
}
 @keyframes scaleImage{
    0%{
        filter: grayscale(1);
        transform: scale(1);

    }
    50%{
        transform: scale(0.9);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(1);
    }
 }
.icon-dot{
    z-index: 10; /*any positive number so that it will be displayed at the front of user-image*/
    right: 0; 
    bottom: -1rem; /*This perticular value of bottom is provided by designer*/
    /* above two prop are used to bring the image at right-bottom of container or it's nearest parent container */
    /* creating animation for this dot image */
    animation: dotAnimation 5s linear infinite;
}
@keyframes dotAnimation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px); /*to move image down*/
    }
    100%{
        transform: translateY(0px);
    }
}
/* properties for cube image */
.icon-cube{
    z-index: 10; /*to align this image above of the user-image as user-image z-index is negative*/
    /* bring this cube image at the top right of the container,  */
    top: 0;
    right:0;
    animation:cubeRotate 3s linear infinite ;
}
/* cube is rotating by 360 around y axis with that shifting in upward */
@keyframes cubeRotate{
    0%{
        transform: rotateY(0deg)  translateY(0px);
    }
    50%{
              transform: rotateY(180deg) translateY(-12px); /*At 50% of animation duration, image will rotate by 180 deg and move upward by 12px this 12px data is provided by designer*/
    }
    100%{
        transform: rotateY(360deg) translateY(0px);

    }

}

.icon-circle{
    z-index: 10;
    /* bringing image at left bottom */
    left: 0;
    bottom: 0;
    animation: shakeEffect 6s linear infinite;
}
/* it moves downward and in right direction from it's original position */
@keyframes shakeEffect{
    0%{
        left: 0;
        bottom: 0;
    }
    50%{
          left: 5%; /*move 5% from container's edge in right */
          bottom: 10%; /*move 10% in upward from the bottom edge of conatiner*/
           /*these numerical values are provided by designer  */
    }
    100%{
        left: 0;
        bottom: 0;
    }
}
.icon-zigzag{
    z-index: 10; /*it can be any +ve number*/
    top: 1.5rem;/*it shift 1.5em down from the top edge of container*/
    left: -0.3em;
   /* above two lines are for bringing the image at top-left of container which can be 0 but, these perticular values are provided by designer */
    animation: zigzagAnimation 5s ease-in infinite;
}
/* element is moving up and right from it's original position  */
@keyframes zigzagAnimation{

    50%{
 left: 5%;
 top: 2%;
    }
}

.icon-plus{
    z-index: 10;
    top: -0.8rem;
    left: 50%;
    animation: plusEffect 5s ease-in infinite;
}

@keyframes plusEffect{
    /* as stating and ending position of ele is same to original position so no need to mention it(0%,100%) */
    50%{
     top: 3%;
     left: 48%;
    }
}

.project-section{
    background-color: rgb(231, 231, 231);
    margin-top: 5rem;
}

.project-section-header{
    color:var(--clr-orange);
    text-align: center;
    font-size: 6rem;
    padding-top: 30px;
}

.all-cards-container{
 
    width: 1200px; /*as cards are kept inside a width of 1200px container*/
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
   flex-direction: column;
   gap: 120px; /*generating gap b/w cards*/
    
}

.project-card{
    height: 550px;
    width: 90%; /*90% width of all cards container*/
    background-image: url(projects/Project2.png);/*Later by using id of each project-cards we will set their unique background image*/
    background-size: cover; 
    box-shadow: 0px 0px 40px #1f1f1f;
    position: relative; /*As content containing it would overlap on this (this is the nearest ancester of project-content , so it should be non-static so that project-content can be set to absolute positioned*/
}

.project-card::after{
    /* for creating a tint over card */
    content: "";
    background-color:#1f1f1f9a;
    /* setting the size of tint */
    position: absolute; /* because we want to overlap this element over the project-card . Due to absolute positioning it should be positioned w.r.t project-card*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 /* all 4 properties are set to 0 to cover the entire card */
    z-index:0;
}

.project-card::before{
    /* for creating a slide to overlap the card this effect is disabled and enabled while hovering 
    due to this slide 's scale : 0 */
    content: "";
    background:linear-gradient(45deg,#343d68,#343d68,#343d68be,#343d687c);
    position: absolute; /*to overlap over the project-card*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform:scaleX(0) ;
    transform-origin: left;
    transition: 0.4s;
    z-index: 1; /*due to the same z-index of both before and after selector, effect of the after was reflecting in while hovering so, slide becomes blue+blac--> blakish. so, while hovering we can see only before effect only bluish colur that's why making this slide closer to our eyes. by increasing it's z-index */

}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    position: absolute; /*due to this it wil be positioned w.r.t  project-card*/
    top: 0;
    opacity: 0;
    color: var(--clr-white);
    font-size:10rem;
    font-weight: 600;
    z-index: 10; /* making it's z-index greater than before selector (bluish slide ).As it is white colured so it can be appeared on bluish slide , to make this text more clearly, we will position this text on the top of the slide hence making it's z-index greater than side due to before selector.due to this , this text will be more closer to our eyes (z-axis) than bluish slide so,this text will be visible more clearly */
    transition: opacity 0.8s;
}
.project-card:hover .project-number{
    opacity: 1;
}
.right-sided-num{
    right: 0;
}
.left-sided-num{
    left: 0;
}
.project-content{
   
    position: absolute; /*It is positioned wr.t to project-card class*/
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--clr-white);
    padding-top: 4em;
    bottom: 20%;
    z-index: 5;
    
}
.card-button a{
    text-decoration: none;
    color: var(--clr-white);
    transition: color 0.4s;
}
.card-button:hover a{
    color:black;
}
.project-content-left{
   left: 10%;
}
.project-content-right{
    left: 30%;
}
.project-skill-images{
    width: 40%; /*It will be 40% of the width of project-content width*/
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
}
.project-skill-images img{
  width: 3em;
  padding-left: 0.5em;
}
.project-heading{
    /* margin-top: 1em; */
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}
.project-subheading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}
.btn-collection{
    display: flex;
    gap: 1.4em;
    align-items: center;
    
}
/* .card-button:hover{
    border: none;  
 } */

 .icon-pro{
    color:var(--clr-white);
    font-size: 35px;
    transition: color 0.4s;
    opacity: 1;
}
.icon-pro:hover{
    color: var(--clr-orange);
}
.project-content{
    transition: transform 0.4s;
}
.project-card:hover .project-content{
    transform: scale(1.1);
    
}
#project1{
    background-image: url(projects/whatsapp-chat-analyser.png);
}
#project2{
    margin-left: 120px; /*so that it will shiftin right by 120px*/
    background-image: url(projects/laptop-price-predictor.png);
}
#project3{
    background-image: url(projects/customer-churn-prediction.png);
}
#project4{
    margin-left: 120px;
    background-image: url(projects/Expence-tracker.png);
}
.skill-section-container{
    position: relative;
    padding: 5rem;
    margin: 10rem auto;
    display: flex;
    gap: 30px;
    /* border: 2px solid hotpink; */
}
.skill-faded-text{
    position: absolute; /*To overlap this txt over this skill-section-container*/
     /*So this will be positioned w.r.t it's nearest parent(skill-section-text)*/
    bottom: -10%; /*setting under media query*/
    right: -3.5%;
    font-weight: bold;
    font-size: 15rem;
    color: var(--clr-light-gray);
    user-select: none; /*to make this text non-selectable*/
   
}

.skill-left-section{
    /* border:2px solid green; */
    display: flex;
    width: 50%; /*50% of it's parent (skill-section-container) */
    flex-direction: column;
 

}
.skill-right-section{
    position: relative; /*To overlap skill-images on this container, so skill-images should be absolute positioned and it's immediate container should be non-static(so, here it is relative)*/
    /* border: 2px solid blue; */
    display: flex;
    width: 50%; /*50% of it's parent (skill-section-container) */
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
   align-items: center;
   row-gap:1em;
   /* padding: 10em 0; */
     
}
.skill-section-image{
   width: 5rem;
   height: 5rem;
   row-gap:1em;
   transition: all 0.5s;
}

.skill-section-image:hover{
   transform: scale(1.2);  
}
.blob{
    z-index: -1; /*To appear it below of (behind of the skill sec images) so, reducing it's z-index*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* centering the element both horizontally and vertically within its parent container. */
    animation: blobAnimation 3s linear infinite;
}
@keyframes blobAnimation{
    50%{
        top: 54%;
        left: 46%;
    }
}


.skill-sec-heading{
    color:var(--clr-orange);
    font-size: 3.1rem;
    font-weight: bold;
    line-height: 50px
}
.caps{
    font-size: 7rem;
}
.skill-subheading{
    margin-top: 1rem;
    width: 85%;
    /* border: 2px solid blue; */
    text-align:justify;
}
.skill-subheading p{
    margin: 15px 0;
}

.contact-section{
    width: 100%;
    background-color: var(--clr-light-gray);
}                                                           
/*container class property has already been set inside during creating hero-section(first-sec)*/
.contact-heading{
    font-size: 5em;
    color: var(--clr-orange);
}
.contact-subheading{
    font-size: 3rem;
    color:#343d68aa;
    text-transform: capitalize; /*to capitaize the sentence*/
}
.form{
margin-top: 25px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.form-field-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 2em;
}
.form-field{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    /*There is only box-shadow (shadow) in box and no border line*/
    border: none;
    margin-top:17px;
}
.form-textarea{
    height: auto;
    padding-top: 1rem;
}
#submit-button{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}
#submit-button:hover{
    scale: 0.9;
}
.submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
}

/*footer*/
.footer-image{
    width: 38px;
}
.footer-sec{
    position: relative; /*Bcz We want to position the faded text- absolute w.r.t this container*/
    margin-top: -1px;
    background-color: #343d68;
    padding: 5em;
}
.footer-wrapper{
    display: flex;
   gap: 1em;
   padding: 1.2em;
   justify-content: space-between;
   align-items: center;
}
.footer-faded-text{
    position: absolute;  /* It will be positioned w.r.t footer-sec class div as , that is it's nearest ancester of non-static positioned */
    color:#535c87;
    font-size: 5em;
    user-select: none;
    bottom: 0;
    left: 0;

}
.footer-link-wrapper{
    display: flex;
    gap: 1.2rem;
}
.footer-link-wrapper a{
    color: var(--clr-white);
    text-decoration: none;
    transition: color 0.6s;
}
.footer-link-wrapper a:hover{
 color: var(--clr-orange);
}
.footer-icon-wrapper{
    display: flex;
    gap: 1em;
}